@model IEnumerable<FinalTeamProject.Models.BookigViewModels.CustomerGroup>

@{
    ViewBag.Title = "Customer Body Statistics";
}

<h2>Customer Body Statistics</h2>

<table>
    <tr>
        <th>
            Appointment Date
        </th>
        
        <th>
            Customers Count
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AppointmentDate)
            </td>
            <td>
                @item.CustomerCount
            </td>
        </tr>
    }
</table>