@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>MyBooking Page</h1>
</div>
    <div class="col-md-4">
        <h2>Customers Quick Link</h2>
        <p><a class="btn btn-default" href="http://localhost:50995/Customers/Index"> Customer Quick Link &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Appointments Quick Link</h2>
        <p><a class="btn btn-default" href="http://localhost:50995/Appointments/Index"> Appointments Quick Link &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Staff Quick Link</h2>
        <p><a class="btn btn-default" href="http://localhost:50995/Staffs/Index"> Staff Quick Link &raquo;</a></p>
    </div>